---
import Default from '@/layouts/Default.astro'
import accounts from '@/data/accounts.ts'
import AccountsEl from '@/components/specifics/Accounts.astro'
---

<Default
	title="Accounts"
	description="Here are some of my accounts that I have. If possible within the service, you can contact me through one of these."
>

<div class="container mx-auto max-w-[1140px] py-12">

	<div class="">
		<h1 class="text-5xl font-bold">Accounts</h1>
		<p class="mt-4">Here are some of my accounts that I have. If possible within the service, you can contact me through one of these.</p>
		<p class="mt-2">Note that this list is not exhaustive. You may contact me to inquire regarding those that are not listed here.</p>
	</div>

	<AccountsEl data={accounts} />
</div>

</Default>
