---
import Default from "@/layouts/Default.astro";
import Default from "../layouts/Default.astro";
---

<Default
	title="CC Portal"
	description="Welcome to the web portal of my plot! What do you want to do? You can click ones that you want to."
>

<div class="container mx-auto max-w-[1140px] py-12">
	<div class="mb-12">
		<h1 class="text-5xl font-bold">Pixel5958's CCC Portal</h1>
		<p class="mt-4">Welcome to the web portal of my plot! What do you want to do? You can click ones that you want to.</p>	
	</div>
	<div class="mb-12 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2">
		<a class="h-64 rounded shadow border flex flex-col-reverse group bg-no-repeat bg-cover bg-center bg-[url(/assets/img/ccdiscord.png)]" href="https://discord.gg/jswnBTU">
			<p class="transition bg-gray-800/60 group-hover:bg-gray-800 p-4 text-white font-semibold backdrop-blur">I want to go to the Cosmic Creative Discord server.</p>
		</a>
		<a class="h-64 rounded shadow border flex flex-col-reverse group bg-no-repeat bg-cover bg-center bg-[url(/assets/img/cecdiscord.png)]" href="https://discord.gg/DkzKg7C">
			<p class="transition bg-gray-800/60 group-hover:bg-gray-800 p-4 text-white font-semibold backdrop-blur">I want to go to the Creative Editorial Collective Discord server.</p>
		</a>
		<a class="h-64 rounded shadow border flex flex-col-reverse group bg-no-repeat bg-cover bg-center bg-[url(/assets/img/guide.png)]" href="https://hans5958.github.io/CC-Creative-Guide">
			<p class="transition bg-gray-800/60 group-hover:bg-gray-800 p-4 text-white font-semibold backdrop-blur">I want to see the Cosmic Craft Creative Guide.</p>
		</a>
		<a class="h-64 rounded shadow border flex flex-col-reverse group bg-no-repeat bg-cover bg-center bg-[url(/assets/img/mailbox.png)]" href="https://docs.google.com/forms/d/e/1FAIpQLSfxL6wfLBWPyk70isV2sRU-vUoz-aWl84W-nlAS8Vl5ntKSmQ/viewform" >
			<p class="transition bg-gray-800/60 group-hover:bg-gray-800 p-4 text-white font-semibold backdrop-blur">I want to go to the plot's mailbox.</p>
		</a>
	</div>
	<div class="border border-amber-400 bg-amber-100 text-amber-700 rounded p-4" role="alert">
		<h4 class="text-3xl font-bold mb-4">Deprecated</h4>
		<p class="mb-2">Due to the closure of the Creative server of CosmicMC, some of the links shown won't work, but kept here for archival purposes.</p>
		<ul class="list-disc ml-8">
			<li>The Cosmic Creative server is now deleted.</li>
			<li>The CEC server, although now owned by me, is now abandoned.</li>
			<li>The Cosmic Craft Creative Guide is now archived but kept online.</li>
			<li>I have stopped collecting response on the mailbox.</li>
		</ul>
	</div>
</div>

</Default>