---
import Default from '@/layouts/Default.astro'
import { Icon } from 'astro-icon/components'
import tools from '@/data/tools.ts'
import highlights from '@/data/highlights.ts'
import A from "@/components/Anchor.astro"

const primarySocials = [
	{
		"site": "GitHub",
		"username": "Hans5958",
		"url": "https://github.com/Hans5958",
		"icon": "simple-icons:github"
	},
	{
		"site": "GitLab",
		"username": "Hans5958",
		"url": "https://gitlab.com/Hans5958",
		"icon": "simple-icons:gitlab"
	},
	{
		"site": "Twitter",
		"username": "Hans5958",
		"url": "https://twitter.com/Hans5958",
		"icon": "simple-icons:twitter"
	},
	{
		"site": "Mastodon",
		"username": "Hans5958@mastodon.social",
		"url": "https://mastodon.social/@Hans5958",
		"icon": "simple-icons:mastodon"
	},
	{
		"site": "YouTube",
		"username": "Hans5958",
		"url": "https://www.youtube.com/Hans5958",
		"icon": "simple-icons:youtube",
	},
	{
		"site": "Reddit",
		"username": "Hans5958_",
		"url": "https://reddit.com/u/Hans5958_",
		"icon": "simple-icons:reddit"
	},
	{
		"site": "Lemmy",
		"username": "Hans5958@lemmy.world",
		"url": "https://lemmy.world/u/Hans5958",
		"icon": "simple-icons:lemmy"
	},
]
import { Image } from 'astro:assets'
import avatar from '../images/avatar.png'

import Parser from 'rss-parser'
let parser = new Parser({
	customFields: {
		item: [
			'description', 
			'media:thumbnail',
			'atom:updated'
		]
	}
})

const getMediaThumbnail = (item): string => {
	return Object.assign({}, Object.assign({}, item['media:thumbnail'])['$']).url
}

const feed = await parser.parseURL('https://hans5958.github.io/blog/rss.xml');
---

<Default
	title=""
	description="Explorative developer. Mostly web development. Hi there! Welcome to my website, dear stranger. I'm a guy who has a passion in tech and computers in general."
>

<section class="bg-linear-to-b from-gray-800 to-slate-500 text-white">
	<div class="container mx-auto max-w-[1140px] min-h-[480px] flex flex-col md:flex-row justify py-12 w-full justify-center md:justify-between">
		<div class="flex flex-col justify-center">
			<h1 class="text-5xl md:text-7xl font-bold mb-3">Hans5958</h1>
			<p class="text-xl md:text-2xl mb-1">Hi there! Welcome to my website, dear stranger.</p>
			<p class="opacity-70 italic mb-4">Explorative developer. Mostly web development.</p>
			<div class="flex gap-2">
				{ primarySocials.map(item => ( <>
					<A unset href={ item.url } aria-label={ item.site } rel="me">
						<Icon name={ item.icon } class="text-white hover:text-gray-200 focus:text-gray-200 active:text-gray-300 h-8 w-8 " />
					</A>
				</> ) ) }
			</div>
		</div>
		<div class="flex flex-col justify-center mt-4 md:mt-0 md:ml-4">
			<Image class="rounded w-48 h-48" src={ avatar } width={ 576 } height={ 576 } format="webp" alt="Avatar" densities={[1, 2]} />
		</div>
	</div>
</section>

<section class="container mx-auto max-w-[1140px] py-12">
	<h2 class="text-5xl font-bold mb-8">About</h2>
	<div class="grid lg:grid-cols-2 gap-x-4">
		<div>
			<p class="mb-4">Hello, I'm <strong>Hans5958</strong>. I'm a guy who has a passion in tech and computers in general.</p>
			<hr class="mb-4 border-gray-300">
			<p class="mb-4">As your usual internet citizen, I surf the internet for mostly fun, but often I learn new things, and occasionally make things that people might find it usual, such as articles, videos, and even scripts and programs.</p>
			<p class="mb-4">I can call myself proficient in front-end stuff. That is with HTML5, JS, and CSS, but I will keep learning new stuff on the road. Currently, I'm learning how to do Python, and probably some deeper front-end stuff, and maybe, in the future, go into the world of Windows software development and back-end stuff.</p>
			<p class="mb-4">I don't have a certain large project that is in focus. I only do small projects here and there. But, hey, it's "honest work". If you ask about something that I can proud of, go check my <A href="https://hans5958.github.io/mini-htmls">Mini HTMLs</A>.</p>
		</div>
		<div>
			<p class="mb-4">Outside programming, I also like to write things about anything that I interest, from translation, collecting text, editing Wikipedia articles, or just writing normal articles. You can search through my repos for that, or go to <A href="/blog">my blog</A>.</p>
			<p class="mb-4">I also like to chat with my friends, try to be the best on my school, and having a great time with my family, if you ask.</p>
			<hr class="mb-4 border-gray-300">
			<p class="mb-4">You may contact me through email or through <A href="/accounts">one of my social media accounts</A>.</p>
			<p class="mb-4">You want other stuff than tech? Go check out <A href="https://youtube.com/Hans5958">my YouTube channel</A>, <A href="https://twitter.com/Hans5958">my Twitter account</A>, and <A href="/blog">my blog</A>. I also publish some random texts on <A href="https://gist.github.com/Hans5958">my Gists</A>.</p>
		</div>
	</div>
</section>

<section class="bg-linear-to-br from-slate-600 to-slate-700 text-white">
	<div class="container mx-auto max-w-[1140px] py-12">
		<h2 class="text-5xl font-bold mb-8">Highlights</h2>
		<div class="grid sm:grid-cols-3 gap-4">
			{ highlights.map(item => <>
				<A unset class="block rounded shadow grow outline-none text-black bg-white hover:bg-gray-100 focus:bg-gray-100 active:bg-gray-200 focus:ring focus:ring-blue-500 focus:outline-none active:outline-none" href={ item.link } >
					{ item.image && <Image src={item.image} inferSize={typeof item.image === 'string'} alt='' class="rounded-t h-36 w-full object-cover object-top" width={640} densities={[1, 2]} /> }
					<div class="p-4">
						<h3 class="text-2xl font-bold mb-2">{ item.name }</h3>
						<p>{ item.description }</p>
					</div>
				</A>
			</> ) }
		</div>
	</div>
</section>

<section class="container mx-auto max-w-[1140px] py-12">
	<h2 class="text-5xl font-bold">
		<A unset href="/blog/" aria-label="Blog of Hans: ">
			<Image class="rounded-sm w-12 h-12 inline align-[-0.5rem]" src={ avatar } width={ 96 } height={ 96 } format="webp" alt="Avatar" aria-hidden="true" />
			<Icon name="bi:journal-text" class="w-12 h-12 inline align-[-0.5rem] -ml-1" aria-hidden="true" />
		</A>
		Latest
	</h2>
	<p class="mt-4 mb-8">Latest posts by yours truly. For more posts, check out <A href="/blog/">the blog</A>.</p>
	<div class="grid sm:grid-cols-2 gap-4">
		{ feed.items.splice(0, 4).map(item => 
			<A unset class="block rounded grow outline-none text-black border border-gray-300 hover:bg-gray-100 focus:bg-gray-100 active:bg-gray-200 focus:ring focus:ring-blue-500 focus:outline-none active:outline-none" href={ item.link }>
				{ item['media:thumbnail'] && <Image src={ "https://hans5958.github.io" + getMediaThumbnail(item) } alt='' inferSize={true} width={640} densities={[1, 2]} class="rounded-t h-36 w-full object-cover object-top" aria-hidden="true" /> }
				<div class="p-4">
					<h3 class="text-2xl font-bold mb-2">{ item.title }</h3>
					<p class="text-gray-500 mb-2">
						<Icon name="mdi:calendar-blank" class="w-4 h-4 inline align-[-.125rem]" aria-hidden="true" aria-label="Created" />
						<time datetime={ item.isoDate }>
							{ new Date(item.isoDate).toLocaleDateString('en-UK', { year: 'numeric', month: 'long', day: 'numeric' }) }
						</time>
						{ item['atom:updated'] && <>
							<span class="font-black">·</span>
							<Icon name="mdi:calendar-edit" class="w-4 h-4 inline align-[-.125rem]" aria-hidden="true" aria-label="Modified" />
							<time datetime={ item['atom:updated'] } >
								{ new Date(item['atom:updated']).toLocaleDateString('en-UK', { year: 'numeric', month: 'long', day: 'numeric' }) }
							</time>
						</> }
					</p>
					<p>{ item.description }</p>
				</div>
			</A>
		) }
	</div>
</section>

<section class="bg-linear-to-b from-slate-600 to-slate-800 text-white">
	<div class="container mx-auto max-w-[1140px] flex flex-col justify-center py-12">
		<h2 class="text-5xl font-bold">Tools</h2>
		{ tools.map(section => (
			<h2 class="text-3xl font-semibold mb-4 mt-8">{ section.name }</h2>
			<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-2">
				{ section.tools.map(item => (
					<div class="border bg-white text-black rounded shadow grow flex flex-row justify-center items-center p-2 outline-none">
						<div class="mr-2">
							{ item.icon && <Icon name={item.icon} class="w-8 h-8" /> }	
						</div>
						<div class="grow">
							<p class="">{ item.name }</p>
						</div>
					</div>
				)) }
			</div>
		)) }
	</div>
</section>

</Default>