---
import BaseHead from "@/components/BaseHead.astro";
import { type BaseProps } from "@/config";

export interface Props extends BaseProps, astroHTML.JSX.Element {}

const { title, description, coverSrc, coverAlt, noAnalytics, ...props } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={ title } description={ description } coverAlt={ coverAlt } coverSrc={ coverSrc } noAnalytics={ noAnalytics } />
	</head>

	<body {...props} >
		<slot />
	</body>
</html>
